<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ganesaaa</title>
<link rel="stylesheet" href="assets/style.css" type="text/css" media="screen" />

</head>

<body>

<div id="wrapper">

	<div id="header">
		<h1></h1>
	</div>

	<div id="menu">
		<ul>
			<li><a href="/home"><p>Home</p></a></li>
			<li><a href="/about_us"><p>About us</p></a></li>
			<li><a href="/volunteers"><p>Volunteers</p></a></li>
			<li><a href="/gallery"><p>Gallery</p></a></li>
			<li><a href="/events"><p>Events</p></a></li>
			<li><a href="/donars"><p>Donars</p></a></li>
			<li><a href="/sponsors"><p>Sponsors</p></a></li>
			<li><a href="/faq"><p>FAQ's</p></a></li>
			<li><a href="/contact_us"><p>Contact us</p></a></li>
		</ul>
	</div>


<!--	<div id="sidebar">
		<ul>
			<li><a href="#">Link One</a></li>
			<li><a href="#">Link Two</a></li>
			<li><a href="#">Link Three</a></li>
			<li><a href="#">Link Four</a></li>
			<li><a href="#">Link Five</a></li>
		</ul>
		<div id="sidebar-bottom">
			&nbsp;
		</div>
	</div>
-->
<%=yield%>	
	
	<div id="footer">
		<div id="footer-valid">
		</div>
	</div>

</div>

</body>
</html>
